* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    list-style: none;
    font-style: Roboto;

}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.barlow-thin {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: normal;
}


.wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: 10;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8%;
    height: 20vh;
    background: #fff;
    z-index: 9;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    padding-top: 30px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #cbbfbf;
    transition: width 0.3s ease;
}

.nav-link:hover {
    color: linear-gradient(to right, #203a43, #2c5364);
}

.nav-link:hover::after {
    width: 100%;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222;
    min-width: 200px;
    top: 40px;
    z-index: 10;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-content li {
    padding: 10px;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    font-family: 'Fjalla One', sans-serif;
}

.dropdown.active .dropdown-content {
    display: block;
}


/* Hamburger menu */
.hamburger {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
    padding-top: 10px;
}


.mobile-contact {
    display: none;
}





.slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
}

#slideImg {
    width: 100%;
    height: 100%;
    animation: zoom 3s linear infinite;
    object-fit: cover;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }

    15% {
        transform: scale(1);
    }

    85% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }
}

.overlay {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(0 0 0 / 88%), rgb(0 0 0 / 14%));
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    padding-top: 0px;
    box-shadow: -1px 9px 12px 0px rgba(0,0,0,0.75);
}

.active {
    color: red;
}

.search {

    gap: 10px;

    top: 0;
    padding-top: 10px;
    color: #000;
}

.left-nav {
    font-size: 18px;
    color: white;
    font-weight: 400;
    font-family: 'Fjalla One', sans-serif;
    cursor: pointer;
    position: fixed;
}

.left-nav i {
    color: #fff;
}

.left-nav:hover {
    color: #cbbfbf;

}


.logo {
    width: 369px;
    margin-top: 250px;

}

.word-logo {
    margin-top: 250px;
}

.word-logo h1 {
    font-size: 300%;
    color: #fff;
}

.logo img {
    width: 250px;
    width: 100%;
    object-fit: cover;
}


.logo:hover img {
    transform: scale(1.2);
    transition: 0.5s ease-in;
    cursor: pointer;
}

.logo h1 {
    color: #fff;
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
}

.contact-nav {
    background: linear-gradient(to right, #203a43, #2c5364);
    display: inline-block;
    padding: 15px 20px 10px 20px;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 10px;
}

.contact-nav a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
}

.contact-nav:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}


.read-more-button {
    background: linear-gradient(to right, #203a43, #2c5364);
    border-radius: 5px;
    font-weight: 400;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    display: inline-block;
    animation: pulseGrow 2s infinite ease-in-out;
    transition: transform 0.3s ease;
    box-shadow: 10px 10px 57px 0px rgba(10, 27, 86, 0.75);
}

.read-more-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

@keyframes pulseGrow {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.07);
    }
}



.menu-flex {
    display: flex;
}

.menu-nav {
    display: none;
}



.menu {
    width: 150px;

    height: 30px;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 25px;
}

.menu-btn {
    padding: 0px 10px 0px 0px;
    background: transparent;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    height: 35px;
    font-weight: 400;
    font-size: 18px;
}

.menu-grid {
    width: 25px;
    height: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    cursor: pointer;
    padding-top: 7px;
}

.menu-line {
    width: 25px;
    height: 0.5px;
    padding: 1px;
    background: white;
}

.menu-line2 {
    width: 25px;
    height: 0.5px;
    padding: 1px;
    background: white;
}

.menu-line3 {
    width: 25px;
    height: 0.5px;
    padding: 1px;
    background: white;
}

.menu:hover {

    .menu-btn {
        color: #cbbfbf;

    }

    .menu-line {
        width: 5px;
        height: 0.5px;
        padding: 1px;
        background: #cbbfbf;
        transition: 0.5s ease;
    }

    .menu-line2 {
        width: 15px;
        height: 0.5px;
        padding: 1px;
        background: #cbbfbf;
        transition: 0.5s ease;
    }

    .menu-line3 {
        width: 20px;
        height: 0.5px;
        padding: 1px;
        background: #fbfbfb;
        transition: 0.5s ease;
    }

}

.menu-opacity {
    width: 100%;
    background: #fff;
    position: fixed;
    display: none;
    height: 100vh;
    z-index: 2;

}


.open-menu {
    display: block;

}

.exit-menu {
    color: #000;
    width: 100px;
    display: flex;
    height: 30px;
    z-index: 2;
    float: right;
    margin-top: 15px;
}

.exit-menu .menu-btn {
    color: #000;

}

.exit-menu:hover {

    .menu-btn {
        color: #666;

    }

    .menu-line {
        width: 5px;
        height: 0.5px;
        padding: 1px;
        background: #000;
        ;
        transition: 0.5s ease;
    }

    .menu-line2 {
        width: 15px;
        height: 0.5px;
        padding: 1px;
        background: #000;
        ;
        transition: 0.5s ease;
    }

    .menu-line3 {
        width: 20px;
        height: 0.5px;
        padding: 1px;
        background: #000;
        ;
        transition: 0.5s ease;
    }

}

.menu-options {
    width: 50%;
    padding: 150px;

}

.menu-options ul {
    padding: 100px;
    list-style: none;

}

.menu-options ul li {
    font-size: 30px;
    color: white;
    font-family: "Playfair Display", sans-serif;
    font-weight: 200;
    line-height: 93%;
    padding-bottom: 30px;
    cursor: pointer;

}

.menu-options ul li a {
    text-decoration: none;
    color: #333;
}

.menu-options ul li:hover a {
    color: #cbbfbf;
}



.sub-menu-opacity {
    display: flex;
}

.right-opacity {
    background: #fff;
    ;
    height: 100vh;
    width: 50%;

}

.menu-image {
    width: 350px;
    margin-top: 200px;
    display: block;
}

.menu-image img {
    width: 100%;

}





section {
    width: 100%;
    height: auto;
    padding-bottom: 120px;
    background: black;
}

.heading {
    text-align: center;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    background: black;
    padding-bottom: 50px;
}

.heading h1 {

    font-size: 60px;

    font-weight: 800;

}

.heading p {
    font-size: 19px;
    color: #cbbfbf;
    margin-bottom: 35px;
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.founder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: auto;
    background: black;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 0px;
}


.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    padding: 15%;
 
    background: #090a09;
    padding-top: 0;

}

.Cap-words{
    text-transform: capitalize;
}

.about-image {
    flex: 1;
    overflow: hidden;
    height: 500px;

}

.about-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img {
    transform: scale(1.2);
}

.about-content {
    
    flex: 1;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.about-content h2 {
    font-size: 36px;
    color: #787474;
    font-weight: 800;
    font-family: sans-serif;
}

.about-content span {
    font-size: 36px;

    color: #cbbfbf;
    font-weight: 800;
    font-family: sans-serif;
    line-height: 40px;
}

.about-content p {
    font-size: 15px;
    line-height: 1.5;
    color: white;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
    padding-top: 15px;
    padding: 10px 50px;
}

.about-paragraph{
    color: white;
    padding-top: 8px;
    padding-left: 8px;
}

.about-flex{
    display: flex;
    justify-content: flex-start;
}

.read-more {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 15px;
    margin-top: 15px;
    transition: 0.3s ease;
    background: linear-gradient(to right, #203a43, #2c5364);
    margin-bottom: 35px;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
    box-shadow: 10px 10px 57px 0px rgba(10,27,86,0.75);
}

.read-more:hover {
    background-color: cadetblue;
    color: black;

}

.services {
    background: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 4fr));
    grid-gap: 30px;
}

.service {
    background: black;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    color: white;
}

.service img {
    width: 80px;
}


.service h2 {
    font-size: 19px;

    font-family: 'Fjalla One', sans-serif;
}

.service p {
    font-size: 17px;

    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.service:hover {
    background: #fbfbfb;
    color: black;

}


.contact {
    background: linear-gradient(to right, #000000, #203a43, #2c5364);
    padding: 60px 200px;
    color: white;
    font-family: 'Segoe UI', sans-serif;
}

.contact .content {
    text-align: center;
    margin-bottom: 40px;
}

.contact .content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.contact .content p {
    font-size: 18px;
    color: #ddd;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-start;
}

.contactInfo {
    flex: 1;
    min-width: 280px;
    max-width: 45%;
}

.contactInfo .box2 {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.contactInfo .icon {
    background: #fff;
    color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.contactInfo .text h3 {
    color: #00bcd4;
    margin: 0;
    font-size: 18px;
}

.contactInfo .text p,
.contactInfo .text a {
    margin: 5px 0 0;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.contactForm {
    flex: 1;
    min-width: 280px;
    max-width: 45%;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.contactForm h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.contactForm .inputBox {
    position: relative;
    margin-bottom: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

.contactForm .inputBox span {
    position: absolute;
    top: 12px;
    left: 12px;
    background: #fff;
    padding: 0 5px;
    color: #888;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s;
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #00bcd4;
}

.contactForm button {
    width: 100%;
    background: black;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contactForm button:hover {
    background: #0097a7;
}

/* Responsive */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }
}


.stats-section {
    height: 100vh;
    /* Full viewport height */
    background-image: url('AdobeStock_828246941.jpeg');
    /* Replace with your image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    /* Dark overlay */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.milestone-heading {
    color: #fff;
    font-size: 100px;
}

.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    color: wheat;
    flex-direction: column;
}

.stat {
    flex: 1;
    padding: 20px;
}

.stat h1 {
    font-size: 25px;
    margin-bottom: 10px;
}

.stat p {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ccc;
}

.image2 {
    width: 325px;
    height: 220px;
    position: absolute;
    bottom: 5px;
    z-index: 2;
    right: 27%;
}

.image1{
    width: 395px;
    height: 450px;
    
    border: 2px solid #716398;
    object-fit: cover;
    box-shadow: 10px 10px 57px 0px rgba(10,27,86,0.75);
-webkit-box-shadow: 10px 10px 57px 0px rgba(10,27,86,0.75);
-moz-box-shadow: 10px 10px 57px 0px rgba(10,27,86,0.75);
}

.ssimg {
    position: relative;
    
}

.service-section{
    padding: 150px;
}

@media screen and (max-width:1100px) {
    .about {
        padding: 20px;
        flex-direction: column;
    }

    .about-image {
        margin-right: 0px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:768px) {


  .about-image {
    order: -1; /* Move image to the top */
  }

  .about-content {
    order: 0; /* Keep text below image */
  }

    .hamburger {
        display: block;
    }


    .image1 {
    scale: 70%;
   }
   .image2 {
    scale: 70%;
   }

    .about-content {
        margin-top: 0px;

    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #111;
        position: absolute;
        top: 80px;

        width: 100%;
        padding: 20px 0;
    }

    .nav-links li {
        text-align: center;
        padding: 10px 0;
    }

    .nav-links.show {
        display: flex;
    }

    .desktop-contact {
        display: none;
    }

    .mobile-contact {
        display: block;
    }

    .about {
        padding: 20px;
        flex-direction: column;
    }

    .about-image {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .sub-menu-opacity {
        display: flex;
        flex-direction: column;
    }

    .menu-image {
        width: 350px;
        margin-top: 200px;
    }

    .menu-options {

        padding: 0px;

    }

    .menu-image {

        display: none;
    }

    .contact {
        padding: 50px;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-container .contactInfo {
        margin-bottom: 40px;
    }

    .contact-container .contactInfo,
    .contactForm {
        width: 100%;
    }

    .logo {
        width: 280px;
        margin-top: 200px;
    }

    .founder {
        padding: 20px;
        flex-direction: column;
    }

    .logo h1 {
        color: #fff;
        text-align: center;
    }

    .stat p {
        font-size: 10px;

    }

    .stat h1 {
        font-size: 15px;

    }

    .milestone-heading {

        font-size: 50px;
    }

    .nav-links {
        display: none;
    }

    .menu-nav {
        display: block;
    }

    .contact-nav {
        display: none;
    }




}